<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background-color: bisque;
        }
        h1{
            color: darkred;
        }
    </style>
    <title>KitchenAid Confidential</title>
</head>


<body>
    <h1> Welcome to the KitchenAid Collection</h1>
    <p>Here we specialize in selling high-quality KitchenAid products and replacement parts.
        We've curated a selection of our top five appliances and key parts customers frequently need to maintain
        or upgrade their equipment. Whether you are looking to get your first KitchenAid or to expand your own collection
        we have reliable products and versatile parts tested by our staff here at the collection to support your
        everyday cooking and baking needs. </p>

<a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Return to Main Page</a>
</body>
</html>